.survey-body{
    display: grid;
    grid-template-columns:15vw auto;
}
.side-list,.survey-details{
    height: 90vh;
    position: relative;
    overflow-x: hidden;
}
.side-list-header{
    padding:2rem 1rem;
    /* height: 7.5rem; */
    /* border-bottom: 2px solid #b4b4b4; */
}
.side-list-header h2{
    color: #1447b6;
    font-size: 1.7rem;
    font-weight:bolder;
    text-transform: capitalize;
}

.side-list ul li a{
    padding: 2rem;
    display: block;
    font-size: 1.4rem;
    font-weight:600 !important;
    color: #707070;
    border-bottom: 2px solid #d3d3d3;
    text-transform: capitalize;
}
.side-list ul li a:hover{
    background-color: #ebeff1;
}
.side-list .router-link-exact-active{
    background-color: #d3e2fd;
}

.survey-details{
    background-color: #d3e2fd;
}

.survey-name h2{
    /* outline: 2px solid red; */
    font-size: 1.8rem;
}
.survey-name p{
    /* outline: 2px solid red; */
    font-size: 1.4rem;
    color: #9c9c9c;
    margin-top: .5rem;
}



.side-list{
    background-color: white;
}
.select_fac_survey{padding:.5rem}
.select_fac_survey select{
    width: 100%;
    padding:1rem .5rem;
    font-size: 1.6rem;
    color:#3d3d3d;
    font-weight: bolder;
    background:none;
}
.select_fac_survey select:focus{outline: none;}
.list-section-name{
    font-size: 1.4rem;
    font-style: italic;
    border-bottom: none;
    font-weight: bold;
    margin: .5rem .75rem;
    padding-top: 1.5rem;
}

